// CSS Variables
:root {
  --color-accent: #e31d1c;
  --color-foreground: #ffffff;
  --color-background: #000000;
  --color-gradient-fadeout: #ff0080;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-strong);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

.lead {
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--nextui-fonts-sans);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
