@import 'sass-mq';

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5em;
  height: 6.25em;
  
  @include mq($until: 900px) {
    justify-content: space-between;
  }

  @include mq($until: 800px) {
    padding: 0 1em;
  }
}

.logo {
  margin-top: 0.45em;
  
  @include mq($from: 750px) {
    position: absolute;
    top: -0.90em;
    left: 2em;
    margin: 0;
  }
}