@import 'sass-mq';

.navbar {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0 1em;
  height: 3.25rem;
  border: 1px solid rgb(46, 47, 56);
  border-radius: 1rem; 
  align-items: center;
}

.item {
  &:nth-child(3),
  &:nth-child(4) {
    @include mq($until: 750px) {
      display: none;
    }
  }

  &:nth-child(2) {
    @include mq($until: 600px) {
      display: none;
    }
  }
}

