.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5em;
  height: 100vh;
  padding: 0 5em;

  &[data-noPadding='true'] {
    padding: 0;
  }

  &:first-child {
    height: calc(100vh - 6.25em);
    margin: 0;
  }
}
