.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5em;
  height: 100vh;

  &:first-child {
    height: calc(100vh - var(--nextui--navbarHeight));
    margin: 0;
  }
}
