.container {
  height: 100%;
  width: 1px;
}

.gradient {
  height: 50%;
  background: -webkit-linear-gradient(90deg, var(--color-foreground), var(--color-background));
  -webkit-text-fill-color: transparent;

  &:last-child {
    transform: rotate(180deg);
  }
}

.horizontal {
  transform: rotate(90deg);
}