.container {
  height: 100%;
  width: 1px;
  
  &[data-horizontal="true"] {
    display: flex;
    height: 1px;
    width: 100%;
  }
}

.gradient {  
  height: 50%;
  width: 1px;

  background: -webkit-linear-gradient(
    90deg,
    var(--color-foreground),
    var(--color-foreground) 66%,
    var(--color-background)
  );
  -webkit-text-fill-color: transparent;

  &:last-child {
    transform: rotate(180deg);
  }

  &[data-horizontal="true"] {
    width: 50%;
    height: 1px;

    background: -webkit-linear-gradient(
      180deg,
      var(--color-foreground),
      var(--color-background)
    );
    -webkit-text-fill-color: transparent;
  }
}
