@import 'sass-mq';

.grid {
  width: 100%;
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  padding: 5em;
  gap: 5em;
  text-align: start;

  .gradientLine {
    grid-row: 1;
    grid-column: 1 / 6;

    &:last-child {
      grid-row: 3;
    }
  }

  @include mq($until: 750px) {
    display: flex;
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.accent {
  color: var(--color-accent);
}

.subfooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5em 5em;

  .socials {
    display: flex;
    gap: 1em;
  }
}