@import 'sass-mq';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 15em;
  width: 100%;
  height: 100%;

  @include mq($until: 1000px) {
    padding: 10em 7.5em;
  }

  @include mq($until: 750px) {
    padding: 10em 5em;
  }

  @include mq($until: 500px) {
    padding: 5em 2em;
  }
}

.innerContent {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  max-width: 1250px;
}

.header {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  margin-bottom: 5em;
}

.featured {
  width: 100%;
  height: 31.25em;
  margin-bottom: 5em;

  @include mq($until: 750px) {
    height: 100%;
  }
}

.image {
  position: relative;
  aspect-ratio: 16 / 9;
  
  &[data-featured='false'] {
    max-height: 250px;
    max-width: 350px;
  }
}

.post {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts {
  display: grid;
  gap: 5em 2em;
  
  @include mq($from: 750px) {
    grid-template-columns: 1fr 1fr;
  }
}