@import 'sass-mq';

.gradient {
  width: 100%;
  background: -webkit-linear-gradient(
    0deg,
    var(--color-accent),
    var(--color-gradient-fadeout)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accent {
  color: var(--color-accent);
}

.wrapper {
  position: relative;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5em;

  @include mq($until: 750px) {
    display: flex;
    flex-direction: column;
  }

  .item {
    justify-self: center;
    align-self: center;
  }

  .horizontalLine {
    height: 100%;
    width: 100%;

    @include mq($from: 750px) {
      display: none;
    }
  }
}

.gradientLine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;

  @include mq($until: 750px) {
    display: none;
  }
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.flag {
  transform-origin: 10px 40px;
}
